#composers{
	padding: 0 10px 0 10px;
	margin: 0;
	float: left;
	
	word-wrap: break-word;


	background: #2ecc71; /*emerald green*/

	-webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;

    clear: both;
    max-width: 1180px; /*1200 - padding*/
	
	padding-top: 10px;
	padding-bottom: 10px;

	color: #16a085;
	margin-bottom: 10px;
}
#selection{
	margin: 0;
	clear:left;
	float: left;
	
	word-wrap: break-word;
}
#selection p{
	padding: 0;
	margin: 0;
}
#titles{
	float: left;
	word-wrap: break-word;
}