#ctrl_bar{
	height:80px;
}
#allCanvas{
	margin-top: 82px;
	clear: left;
}
#selection, #titles, #cookies{
	max-width: 330px;/*-20 padding*/
	padding: 0 10px 0 10px;
	word-wrap: break-word;
	float: left;
	clear:left;
}
#selection p, #cookies p{
	padding: 0;
	margin: 0;
}
#selection{
	margin: 1px 0;
	background: orange; /*orange carrot*/

}
#titles{
	margin: 0;

	padding-top: 10px;
	padding-bottom: 10px;

	color: white;
	background: #9b59b6; /*violet amethyst*/
}
#cookies{
	margin: 1px 0 0 0;
	background: #2ecc71; /*emerald green*/
	/*text-align: left; */
}