#ctrl_bar{
	height:80px;
}
#allCanvas{
	margin-top: 82px;
	clear: left;
}
#cookies, #selection, #titles{
	width: 330px;/*-20 padding*/
	/*max-width: 330px;*/
	
	word-wrap: break-word;
	float: left;
	clear:left;
}

/*alphabetic order*/
#cookies{
	margin: 1px 0 0 0;
}
#infos{
	float: left;
	min-width: 200px;
	max-width: 420px;
}
#selection{
	margin: 1px 0;
}
#titles{
	margin: 0;
}
