body{
	margin:0;
	padding: 0;
	/*background: #bdc3c7;*/
	background: #fff;
}
a {
	color: white
}
canvas{
	float: left;
}
h1{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.b_on{
	background: #1abc9c; /*green emerald*/
}
.b_off{
	background: #7f8c8d; /*grey asbestos*/
}
#content{
	padding: 5px;
	background: white;
}
#main{
}
#anim{
	/*background: yellow;*/
	color: white;
	display: block;
	padding: 0 0 0 5px;
}
#get_all{
	padding: 0 0 0 5px;
}
#launcher{
	margin: 0 5px 0 0;
	padding: 10px;
	background: #9b59b6; /*violet amethyst*/
	float: left;
	min-width: 200px;
	min-width: 200px;
	color: white;
}
#navigation{
	margin: 0 5px 0 0;
	padding: 10px;
	background: #e74c3c; /*pink alizarin*/
	float: left;
	min-width: 200px;
}
#links{
	margin: 0 5px 0 0;
	background: #3498db;
	min-width: 200px;
	float: left;
	color: white;
}
#info{
	margin: 0 5px 5px 0;
	padding: 10px;
	background: pink;
	min-width: 200px;
	float: left;
}
#info p{
	margin: 0;
}
#composers, #selection{
	padding: 0 0 0 10px;
	margin: 0;
	float: left;
	clear: both;
	min-width: 200px;
	word-wrap: break-word;
	max-width: 1190px; /*1200 - padding*/
} 
#composers{
	background: #2ecc71; /*emerald green*/
	
}
#selection{
	background: orange; /*orange carrot*/
}
#selection p, #composers p{
	padding: 0;
	margin: 0;
}
