body{
	margin:0;
	padding: 0;
	/*background: #bdc3c7;*/
	background: #fff;
}
a {
	color: white
}
canvas{
	float: left;
}
em{
	font-weight: bold;
	font-style: italic;
}
h1{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.active{
	text-decoration: underline;
	color: black;
}
.selected{
	color: white;
	/*font-weight: bold;*/
}
.b_on{
	background: #1abc9c; /*green emerald*/
}
.b_off{
	background: #7f8c8d; /*grey asbestos*/
}
#content{
	padding: 5px;
	background: white;
}
#ctrl_bar{
	width: 100%;
	background: #ECF0F1; /*soft grey*/
	position: fixed;
}
#anim{
	/*background: yellow;*/
	color: white;
	display: block;
	padding: 0 0 0 5px;
}
#navigation{
	margin: 0 5px 0 0;
	padding: 10px;
	background: #e74c3c; /*pink alizarin*/
	float: left;
	min-width: 200px;
}
#info{
	margin: 0 5px 5px 0;
	padding: 10px;
	background: pink;
	min-width: 200px;
	float: left;
}
#info p{
	margin: 0;
}
/*alphabetical order*/
#cookies, #selection, #titles{
	padding: 0 10px;
}
#cookies p, #selection p{
	padding: 0;
	margin: 0;
}
#cookies{
	background: #2ecc71; /*emerald green*/
}
#launcher{
	margin: 0 5px 0 0;
	padding: 5px;
	background: #9b59b6; /*violet amethyst*/
	float: left;
	min-width: 200px;
	min-width: 200px;
	color: white;
}
#launcher li, #links li{
	margin: 0;
	padding: 0 10px;
}
#links{
	margin: 0 5px 0 0;
	padding: 5px 5px;
	background: #3498db; /*blue */
	min-width: 200px;
	float: left;
	color: white;
}
#selection{
	background: orange; /*orange carrot*/
}
#titles{
	color: white;
	margin: 0;
	background: #9b59b6; /*violet amethyst*/
}