#ctrl_bar{
	/*height:80px;*/
}
#infos{
	/*float:left;*/
	/*float: left;
	width:200px;
	height:500px;*/
	margin-left: 2px;
	word-wrap: break-word;
	float: left;
	max-width: 300px;
}
#main_container{
	margin-top: 82px;
	
}
#selection{
	/*margin: 0;*/
	/*padding: 0 10px 0 10px;*/
}