#ctrl_bar{
	height:80px;
}
#cookies, #selection, #titles, #results{
	width: 330px;/*-20 padding*/
	/*max-width: 330px;*/
	
	word-wrap: break-word;
	float: left;
	clear:left;
}

/*alphabetic order*/
#cookies{
	margin: 1px 0 0 0;
}
#filters{
	padding: 5px;
	/*width: 300px;*/
	width: 150px;
	/*height: 55px;*/
	height: 40px;
	background: yellow;
	margin: 0 0 0 10px;
	float: left;
	display: inline;
}
#filtersBtn{
	background: yellow;
}
#filtersBtn, #searchBoxBtn{
	margin: 5px 0 0 5px;
	padding: 5px;
	width: 10px;
	height: 10px;
	float: left;
	display: inline;
}
#infos{
	float: left;
	min-width: 200px;
	max-width: 420px;
}
#myCanvas{
	margin: 0 5px 0 0;
}
#results{
	margin: 1px 0;
	background: white;
	padding: 0 10px;
}
#numOfRecords{
	/*margin: 5px 0 0 0;*/
}
#results p{
	padding: 0;
	margin: 0;
	display: block;
}
#searchBox{
	margin: 0 0 0 5px;
	padding: 5px;
	width: 150px;
	height: 40px;
	background: pink;
	float: left;
	display: inline;
}
#searchBox #myForm{
	float: left;
	display: inline;
}
#searchBoxBtn{
	background: pink;
}
#searchBoxBtn:hover, #filtersBtn:hover{
	background: white;
}
#selection{
	margin: 1px 0;
}