@import url(http://fonts.googleapis.com/css?family=Playball|Slabo+27px|Roboto:400,700);

/*navigation*/
header{
	/*width: 100%;*/
	background: #000;
	border-bottom: 1px solid #333;
	height: 35px;
}
header nav ul {
	float: right;
    display: inline-block;
    padding: 6px 20px 2px 0;
}
header nav ul li {
	padding-left: 14px;
	float: right;
}
header h1#btn1{

	padding: 8px 0 4px 20px;
	float: left;
    display: inline-block;
    color: white;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    /*font-weight: normal;*/
}
#btn1 a{
	text-decoration: none;
	color: #fff;
}


h1#mainTitle{
	font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  	font-weight: 700;
  	color: #f08f67;
  	font-size: 1.75em;
  	margin-bottom: .4em;
  	line-height : 1em;
}

rect.disabled {
  fill: transparent !important;
}
.borderPie{
	stroke: #E7E0CB;
	fill: none;
	stroke-width: 4;
}
#awards{
	padding: 0 0 2px 0;
}
#awards p{
	padding: 0 5px;
}
#charts{
	padding: 10px 0 0 0;
}
#nav {
	padding: 0;
	clear: both;
	max-width: 1150px;
	/*background: red;*/
}
#nav div {
	display: inline-block;
	color: #fff;
	padding: 0 5px;
	margin: 0;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
#pie01, #pie02, #pie03{
	float: left;
	margin: 0 4px 0 0;
}
#tooltip{
	width: 100px;
	position: absolute;
	font-size: 12px;
	text-align: center;
	line-height: 1.1em;
	padding: 5px;
	background: rgba(255,255,255,0.8);
	top: 0;
	left: 0; 
	display: none;
	z-index: 10;
}
div.selected {
  background: none !important;
  color : #333 !important;
}
div.titleC {
	background: rgba(255,255,255,0.1);
	margin: 0 0 5px 0;
	padding: 7px 0 0 0;
	height: 16px;
	color : #fff;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
}
div.tPie {
	background: #E7E0CB;
	margin: 0;
	text-align: center;
	font-weight: normal;
	font-size: .6em;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
}