a:link, a:visited, a:hover, a:active {
    color: white;
}
body{
	margin:0;
	padding: 0;
	background: #2C3E50;
	color:white;
}
h1, h2{
	color: #1BA085;
}
input{
	 vertical-align:top;
}
li a{

}
#container{
	width: 800px;
	margin: 0 auto;
	background: #34495E;
	padding: 10px 30px 10px 30px;
}